# Top 5 Queries 
## A) Question 6 (Exercises) 
## Query 1
selects EmployeeId and the count of orders from the 'sales.[Order]' table. 
The result of orders from the employees in terms of being outputted are restricted as the orderdate is set less than date May 1, 2016 
(present in the WHERE clause). Then, the result of orders (numorders) is grouped by EmployeeId. 
## Query 2
works very similarly, however,
the result of orders(numorders) is grouped by EmployeeId before the filtering. Within the filtering, The HAVING clause 
is used here instead of the WHERE clause so the aggregate function MAX can be implemented. The result of orders(numorders) 
in account to the maximum orderdate of the employees before May 1, 2016 is only to be outputted in this query.  

I found this question special because it displays how the ordering of lines within the queries make a difference to the output.

In [ ]:
USE TSQLV4;

-- Query 1
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

-- Query 2
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';


USE Northwinds2022TSQLV7; 


-- Query 1
SELECT EmployeeId, COUNT(*) AS numorders
FROM sales.[Order]
WHERE orderdate < '20160501'
GROUP BY EmployeeId;

-- Query 2
SELECT EmployeeId, COUNT(*) AS numorders
FROM sales.[Order]
GROUP BY EmployeeId
HAVING MAX(orderdate) < '20160501';

## B) Question 7 (Exercises) - Query
 The query firstly uses the SELECT TOP clause with the number 3 in front, which is special of this query since it selects three countries
from the column ShipToCountry specifically. Then, the aggregate function AVG is used to find the average of the freight (Freight) in regards to the top
three countries and this is labeled as avgfreight. Then, the WHERE clause is used to filter the orders from the 'sales.[Order]' table
by setting the orderdate to the year 2015, thus, the orders only within that year will be taken into account to in correlation to the top
three countries with the highest average freight. We then group the avgfreight with each unique country of the top three
within the ShipToCountry column. The ORDER BY clause orders the grouped results(averagefreight) in descending order based on the calculated
average freight (avgfreight). The DESC keyword is special here as it specifies a descending order rather than a randomized manner within 
the column, so the highest average freight goes from highest to lowest while being being outputted. 

I found this query to be special because I was able to implement the AVG() function. It also implements the SELECT TOP clause and DESC keyword

In [ ]:
USE TSQLV4;

SELECT TOP 3 shipcountry, AVG(freight) AS avgfreight
FROM Sales.Orders
WHERE YEAR(orderdate) = 2015
GROUP BY shipcountry
ORDER BY avgfreight DESC;

USE Northwinds2022TSQLV7;

SELECT TOP 3 ShipToCountry, AVG(Freight) AS avgfreight
FROM sales.[ORDER]
WHERE YEAR(orderdate) = 2015
GROUP BY ShipToCountry
ORDER BY avgfreight DESC;

## C) (Queries) - Proposition

Return the 5 highest orders along with it’s order ID, order date, customer ID, and employee ID. Ordered by order date in descending order. Tables involved: Sales.Orders table

I found this query to be special because the select top clause and the desc clause were implemented here.

In [ ]:
USE TSQLV4;

SELECT TOP (5) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

## D) (Queries) - Proposition

Return the result of 36 using numbers 10 , 2 , and 3 using basic arithmetic operators

I found this query to be special because it shows that SQL is not only able to return values in regards to databases but also can return number values and solve arithmetic just like other programming languages.

In [ ]:
SELECT (10 + 2) * 3

## E) (Queries) - Proposition
Return employee details including employee IDs and their full names concatenated from the HR.Employees table. Tables involved: HR.Employees

I found this query to be special for its use of concatenation to combine the first and last name columns into a single column labeled as 'fullname'.

In [ ]:
USE TSQLV4;

SELECT empid, firstname + N' ' + lastname AS fullname
FROM HR.Employees;

# Chapter 02 - Exercises
## Question 1 (Exercises) - Query
In this query we want to retrieve order details in regards to the orders placed in June 2015 so we select all columns that relate to order details. They are OrderId, OrderDate, CustomerId, EmployeeId. Then we use the WHERE clause to restrict the orderdate after June 1st and before July 1st to return the orders made ONLY in June.

In [ ]:
USE TSQLV4;

SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate >= '2015-06-01' AND orderdate < '2015-07-01';

USE Northwinds2022TSQLV7;

SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM sales.[ORDER]
WHERE OrderDate >= '2015-06-01' AND OrderDate < '2015-07-01';

## Question 2 (Exercises) - Query 
Firstly, the id of the order (OrderId), the date of the order (OrderDate), the id of the customer(CustomerId),
and the id of the employee (EmployeeId) of employees are selected from a table named 'Order' within a schema named Sales. Day is a function as it extracts from the OrderDate column.
EOMONTH is a function as it calculates the last day of a month
from the OrderDate column.

In [ ]:
USE TSQLV4; 

SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE DAY(orderdate) = DAY(EOMONTH(orderdate));



USE Northwinds2022TSQLV7;

SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE DAY(OrderDate) = DAY(EOMONTH(OrderDate));

## Question 3 (Exercises) - Query
Firstly, employee ID (EmployeeId), first name (EmployeeFirstName),
and last name (EmployeeLastName) of employees are selected from a table named Employee
within a schema named HumanResources. The LEN function is special
here as it calculates the the length of the lastname column.
The REPLACE function is special here as it replaces the e strings
of lastname to empty strings.

In [ ]:
USE TSQLV4;

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) >= 2



USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.[Employee]
WHERE LEN(EmployeeLastName) - LEN(REPLACE(EmployeeLastName, 'e', '')) >= 2

## Question 4 (Exercises) - Query
This query is constructed to retrieve orders from a table named 'OrderDetail' within the schema 'sales', where the total value—computed by multiplying the quantity of items by their respective unit prices—exceeds $10,000. Initially, the query selects the Order ID (OrderId) and calculates the total value for each order using the expression SUM(Quantity * UnitPrice). These values are then grouped by OrderId to consolidate the calculation per order. Subsequently, the HAVING clause filters the grouped results to include only orders with a total value greater than $10,000. The ORDER BY clause is utilized to arrange the results in descending order of their total value. By employing DESC, the query ensures that orders with the highest total values appear first in the output.

In [ ]:
USE TSQLV4;

SELECT orderid, SUM(qty * unitprice) AS totalvalue
FROM Sales.OrderDetails
GROUP BY orderid
HAVING SUM(qty * unitprice) > 10000
ORDER BY totalvalue DESC;

USE Northwinds2022TSQLV7;

SELECT OrderId, SUM(Quantity * UnitPrice) AS totalvalue
FROM sales.[OrderDetail]
GROUP BY OrderId
HAVING SUM(Quantity * UnitPrice) > 10000

## Question 5 (Exercises) - Query
This query aims to retrieve employees from a table named 'Employee' within the 'HumanResources' schema whose last names begin with a lowercase letter. Initially, the query selects the Employee ID (EmployeeId) and the last name (EmployeeLastName) of each employee. To filter out employees with last names starting with a lowercase letter, the query utilizes the WHERE clause along with the LEFT and ASCII functions. The LEFT(EmployeeLastName, 1) function extracts the first character (letter) from the EmployeeLastName column of each row, while the ASCII(..) function returns the ASCII value of any character passed through it. The expression ASCII(LEFT(EmployeeLastName, 1)) BETWEEN 97 AND 122 checks if the ASCII value of the first letter of the employee's last name falls within the range of lowercase letters from 'a' (ASCII value 97) to 'z' (ASCII value 122). This effectively filters and returns only those employees whose last names start with a lowercase letter.

In [ ]:
USE TSQLV4;

SELECT empid, lastname
FROM HR.Employees
WHERE ASCII(LEFT(lastname, 1)) BETWEEN 97 AND 122;


USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeLastName
FROM HumanResources.[Employee]
WHERE ASCII(LEFT(EmployeeLastName, 1)) BETWEEN 97 AND 122;

## Question 8 (Exercises) - Query
This query extracts data from the 'sales.[ORDER]' table, assigning a unique row number to each row within specific customer partitions ('CustomerId'). This row number is determined based on the order of 'OrderDate' and 'OrderId'. The resulting data is then sorted by 'CustomerId', 'OrderDate', and 'OrderId'.
This process employs Row Number Assignment within Partitions, utilizing the 'ROW_NUMBER()' function with the 'PARTITION BY' clause. This function assigns a distinct row number to each row within a partition defined by the 'CustomerId' column. This approach proves useful when enumerating rows within distinct groups or categories. Furthermore, the query incorporates Ordering Within Partitions. Here, the row number is influenced by the specified order of columns, namely 'OrderDate' and 'OrderId'. Within each 'CustomerId' group, rows are organized based on the 'OrderDate' and 'OrderId', defined using the 'OVER' clause. Lastly, the query makes use of Window Function Usage. Specifically, the 'ROW_NUMBER()' function operates within a "window" of rows defined by the 'PARTITION BY' and 'ORDER BY' clauses. This allows for calculations across specific subsets of rows, offering more flexibility compared to traditional aggregate functions.

In [ ]:
USE TSQLV4;

SELECT custid, orderdate, orderid,
   ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum
FROM Sales.Orders
ORDER BY custid, orderdate, orderid;


USE Northwinds2022TSQLV7;

SELECT CustomerId, OrderDate, OrderId,
  ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY OrderDate, OrderId) AS rownum
FROM sales.[ORDER]
ORDER BY CustomerId, OrderDate, OrderId;

## Question 9 (Exercises) - Query
In this query we data from the ‘humanresources.[Employee]’ table to determine the gender of each employee using the ‘EmployeeTitleofCourtesy’and return the results. For instance where the gender cannot be determined by the ‘EmployeeTitleofCourtesy’, we return the gender as ‘Unknown’. To accomplish this, this query utilizes a CASE STATEMENT, which is a powerful feature of SQL that allows for conditional logic, in this case, the CASE statement checks the value in the ‘EmployeeTitleofCourtesy’ and assigns a corresponding gender value.
Another feature of this query is its utilization of the CONDITIONAL CHECK/ WHEN/ELSE STATEMENT which is used to defined the conditions used to determine the gender of each employee based on the value store in the ‘EmployeeTitleofCourtesy.’
Finally, this query demonstrates the use of SQL not just for retrieving data but also for transforming it. By introducing this derived column (gender), it makes the results more informative and user friendly.

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname, titleofcourtesy,
CASE
       WHEN titleofcourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
       WHEN titleofcourtesy = 'Mr.' THEN 'Male'
       ELSE 'Unknown'
   END AS gender
FROM
   HR.Employees;



USE Northwinds2022TSQLV7;

SELECT EmployeeId, EmployeeFirstName, EmployeeLastName, EmployeeTitleofCourtesy,
CASE
      WHEN EmployeeTitleofCourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
      WHEN EmployeeTitleOfCourtesy= 'Mr.' THEN 'Male'
      ELSE 'Unknown'
  END AS gender
FROM humanresources.[EMPLOYEE];

## Question 10 (Exercises) - Query
This SQL script fetches customer IDs and their associated regions from a table named "Customers" within the "Sales" schema. The sorting of results is done in two steps: first, using a custom condition through the CASE statement. If a region is NULL, it's assigned a value of 1, ensuring these rows appear first in the sorted output. Otherwise, they're assigned a value of 0. Following this, the results are further sorted based on the actual region values, arranging them alphabetically. Essentially, the query organizes and presents customer data, giving priority to those without specified regions while arranging the rest alphabetically based on their regions.

In [ ]:
USE TSQLV4;

SELECT custid,region
FROM Sales.Customers
ORDER BY
   CASE
       WHEN region IS NULL THEN 1
       ELSE 0
   END,
   region;


USE Northwinds2022TSQLV7;

SELECT CustomerId,CustomerRegion
FROM Sales.Customer
ORDER BY
  CASE
      WHEN CustomerRegion IS NULL THEN 1
      ELSE 0
  END,
  CustomerRegion;

# Chapter 02 - Queries
## Question 1 (Proposition)
Return order details including order ID, employee ID, order date, and freight cost. For orders made by customer with ID 71. Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;

SELECT orderid, empid, orderdate, freight
FROM Sales.Orders
WHERE custid = 71;

## Question 2 (Proposition)
Return employee IDs and the corresponding years in which they have handled multiple orders. For customer with ID 71. Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;

SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

## Question 3 (Proposition)
Return employee IDs, the corresponding years, and the count of orders they handled. For customer with ID 71, with orders made in multiple years. Tables involved: Sales.Orders table

In [ ]:
/*
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING numorders > 1;
*/

## Question 4 (Proposition)
Return order IDs along with the order year and the subsequent year for each order. Tables involved: Sales.Orders table

In [ ]:
/*
SELECT orderid,
  YEAR(orderdate) AS orderyear,
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

## Question 5 (Proposition)
Return order details including order ID, customer ID, and value, along with row numbers calculated for each customer separately based on the value. Tables involved: Sales.OrderValues table

In [ ]:
USE TSQLV4;

SELECT orderid, custid, val,
  ROW_NUMBER() OVER(PARTITION BY custid
                    ORDER BY val) AS rownum
FROM Sales.OrderValues
ORDER BY custid, val;

## Question 6 (Proposition)
 Return order details including order ID, employee ID, and order date for orders made by specific employees after January 1, 2016. Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;

SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101'
  AND empid IN(1, 3, 5);

## Question 7 (Proposition)
Return customer details including customer ID, country, region, and city for customers with a region that doesn’t exist. Tables involved: Sales.Customers table

In [ ]:
USE TSQLV4;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = NULL;

## Question 8 (Proposition)
Return values of columns col1 and col2 from table dbo.T1 where:If col1 equals 0, the row should not be included. If the result of col2 divided by col1 is more than 2, include the row

In [ ]:
/*
SELECT col1, col2
FROM dbo.T1
WHERE
  CASE
    WHEN col1 = 0 THEN 'no' -- or 'yes' if row should be returned
    WHEN col2/col1 > 2 THEN 'yes'
    ELSE 'no'
  END = 'yes';
*/

## Question 9 (Proposition)
Return the rightmost 3 characters of the string 'abcde'

In [ ]:
USE TSQLV4;

SELECT RIGHT('abcde', 3);

## Question 10 (Proposition)
 Return a modified string  '1-a 2-b' in which the hyphens should be replaced with colons

In [ ]:
USE TSQLV4;

SELECT REPLACE('1-a 2-b', '-', ':')

## Question 11 (Proposition)
 Return a modified string 'Itzik Ben-Gan' in which it is converted to uppercase

In [ ]:
USE TSQLV4;

SELECT UPPER('Itzik Ben-Gan');

## Question 12 (Proposition)
Insert compressed CV data for a specific employee into the dbo.EmployeeCVs table

In [ ]:
/*
INSERT INTO dbo.EmployeeCVs( empid, cv )
  VALUES( @empid, COMPRESS(@cv) );
*/

## Question 13 (Proposition)
Return employee details including employee IDs and last names from the HR.Employees table where the last name starts with 'D'

In [ ]:
USE TSQLV4;

SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

## Question 14 (Proposition)
Return order details including order ID, customer ID, employee ID, and order date for orders made on February 12, 2016. Tables involved: Sales.Orders

In [ ]:
USE TSQLV4;

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate = '20160212';

## Question 15 (Proposition)
Convert a string '20160212' to a date data type using the 'us_english' language setting

In [ ]:
SET LANGUAGE us_english;
SELECT CAST('20160212' AS DATE);

## Question 16 (Proposition)
 Convert the string '12:30:15.123' to a DATETIME data type

In [ ]:
SELECT CAST('12:30:15.123' AS DATETIME);

## Question 17 (Proposition)
Return order details including order ID, customer ID, employee ID, and order date for orders made after February 1, 2016, but before March 1, 2016. Tables involved: Sales.Orders

In [ ]:
USE TSQLV4;

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301';

## Question 18 (Proposition)
Return the current system time

In [ ]:
SELECT CAST(SYSDATETIME() AS TIME);

## Question 19 (Proposition)
Convert the dataset string '02/12/2016' into proper DATETIME with the 'en-US' locale

In [ ]:

/* SELECT PARSE('02/12/2016' AS DATETIME USING 'en-US'); */

## Question 20 (Proposition)
Return information about time zones including name, current UTC offset, and whether it is currently observing daylight saving time. Tables involved: sys.time_zone_info

In [ ]:
/* SELECT name, current_utc_offset, is_currently_dst
FROM sys.time_zone_info; */

## Question 21 (Proposition)
Calculate the difference in milliseconds between two dates, January 1st, 0001 and February 12th, 2016

In [ ]:
SELECT DATEDIFF_BIG(millisecond, '00010101', '20160212');

## Question 22 (Proposition)
Return three separate values:  the day, the month, and the year extracted from the following date of February 12th, 2016

In [ ]:
SELECT
  DAY('20160212') AS theday,
  MONTH('20160212') AS themonth,
  YEAR('20160212') AS theyear;

## Question 23 (Proposition)
Return generated various date and time values using functions such as DATEFROMPARTS, DATETIME2FROMPARTS, DATETIMEFROMPARTS, DATETIMEOFFSETFROMPARTS, SMALLDATETIMEFROMPARTS, and TIMEFROMPARTS

In [ ]:
SELECT
  DATEFROMPARTS(2016, 02, 12),
  DATETIME2FROMPARTS(2016, 02, 12, 13, 30, 5, 1, 7),
  DATETIMEFROMPARTS(2016, 02, 12, 13, 30, 5, 997),
  DATETIMEOFFSETFROMPARTS(2016, 02, 12, 13, 30, 5, 1, -8, 0, 7),
  SMALLDATETIMEFROMPARTS(2016, 02, 12, 13, 30),
  TIMEFROMPARTS(13, 30, 5, 1, 7);

## Question 24 (Proposition)
 Return information about all base tables in the database, including their schema and name. Tables involved: INFORMATION_SCHEMA.TABLES

In [ ]:
SELECT TABLE_SCHEMA, TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = N'BASE TABLE';

## Question 25 (Proposition)
Return information about the constraints applied to the "Sales.Orders" table. Tables involved: sys.sp_helpconstraint

In [ ]:
EXEC sys.sp_helpconstraint
  @objname = N'Sales.Orders';